.spotlights{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}   

@media (max-width:700px) {
    .spotlights{
        height: auto; 
    }
} 