.coupon-bar {
    width: 100%;
    background-color: #1e1e1e;
    color: rgb(245, 224, 200);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(82, 68, 68);
  }
  
  .coupon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .coupon-left {
    display: flex;
    align-items: center;
  }
  
  .offer-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .coupon-text {
    font-size: 16px;
  }

  .coupon-right.checked {
    font-size: 1px;
    color: green;
  }

  .coupon-right img{
    width: 24px;
    margin: 0;
  }
  
  .dropdown-menu {
    background-color: #333;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    color: white;
    border-bottom: 1px solid #444;
  }
  
  .dropdown-item:last-child {
    border-bottom: none;
  }
  
  .dropdown-item:hover {
    background-color: #444;
  }
  
  .dropdown-item.active {
    background-color: #4caf50;
    font-weight: bold;
  }
  